<suite name="Test suite" parallel="tests"  configfailurepolicy="continue">
    <test name="Integration tests1">
        <classes>
            <class name="tests.CookieTest"></class>
        </classes>
    </test>
    <test name="Integration tests">
        <classes>
            <class name="tests.FormsTest"></class>
        </classes>
    </test>
</suite>