<suite name="Test suite" parallel="tests">
    <test name="Integration tests1">
        <classes>
            <class name="tests.CookieTest"></class>
        </classes>
    </test>
    <test name="Integration tests">
        <classes>
            <class name="tests.FormsTest"></class>
        </classes>
    </test>
    <test name="Integration tests222">
        <classes>
            <class name="tests.DragNDropTest"></class>
        </classes>
    </test>
    <test name="Integration tests22112">
        <classes>
            <class name="tests.TabsTest"></class>
        </classes>
    </test>
</suite>